body {
  font-size: 4rem;
}

.p1 {
  font-family: "Koulen", cursive;
}
.p2 {
  font-family: "Lato", sans-serif;
}
.p3 {
  font-family: "Macondo", cursive;
}
.p4 {
  font-family: "Montserrat", sans-serif;
}
.p5 {
  font-family: "Oleo Script Swash Caps", cursive;
}
.p6 {
  font-family: "Open Sans", sans-serif;
}
.p7 {
  font-family: "Oswald", sans-serif;
}
.p8 {
  font-family: "Playfair Display", serif;
}
.p9 {
  font-family: "Poppins", sans-serif;
}
.p10 {
  font-family: "PT Serif", serif;
}
.p11 {
  font-family: "Radio Canada", sans-serif;
}
.p12 {
  font-family: "Raleway", sans-serif;
}
.p13 {
  font-family: "Roboto", sans-serif;
}
.p14 {
  font-family: "Roboto Condensed", sans-serif;
}
.p15 {
  font-family: "Roboto Flex", sans-serif;
}
.p16 {
  font-family: "Roboto Mono", monospace;
}

.p17 {
  font-family: "Roboto Slab", serif;
}
.p18 {
  font-family: "Rubik", sans-serif;
}
.p19 {
  font-family: "Source Sans Pro", sans-serif;
}
.p20 {
  font-family: "Work Sans", sans-serif;
}
