body {
  padding: 4rem;
  font-size: 2rem;
}

body p:nth-child(1) {
  font-family: "Koulen", cursive;
}
body p:nth-child(2) {
  font-family: "Lato", sans-serif;
}
body p:nth-child(3) {
  font-family: "Macondo", cursive;
}
body p:nth-child(4) {
  font-family: "Montserrat", sans-serif;
}
body p:nth-child(5) {
  font-family: "Oleo Script Swash Caps", cursive;
}
body p:nth-child(6) {
  font-family: "Open Sans", sans-serif;
}
body p:nth-child(7) {
  font-family: "Oswald", sans-serif;
}
body p:nth-child(8) {
  font-family: "Playfair Display", serif;
}
body p:nth-child(9) {
  font-family: "Poppins", sans-serif;
}
body p:nth-child(10) {
  font-family: "PT Serif", serif;
}
body p:nth-child(11) {
  font-family: "Radio Canada", sans-serif;
}
body p:nth-child(12) {
  font-family: "Raleway", sans-serif;
}
body p:nth-child(13) {
  font-family: "Roboto", sans-serif;
}
body p:nth-child(14) {
  font-family: "Roboto Condensed", sans-serif;
}
body p:nth-child(15) {
  font-family: "Roboto Flex", sans-serif;
}
body p:nth-child(16) {
  font-family: "Roboto Mono", monospace;
}
body p:nth-child(17) {
  font-family: "Roboto Slab", serif;
}
body p:nth-child(18) {
  font-family: "Rubik", sans-serif;
}
body p:nth-child(19) {
  font-family: "Source Sans Pro", sans-serif;
}
body p:nth-child(20) {
  font-family: "Work Sans", sans-serif;
}
